/* Work by : Timothy Putra Pringgondhani (z5043683) */

html {
  font-family: sans-serif;
}

body {
  padding-top: 50px;
  color: #959595;

  height: 100%;
  width: 100%;
  margin: 0;
  position: relative;
}

h1 {
  color: #0099FF;
  margin: .67em 0;
  font-size: 2em;
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}

.form-control {
  display: block;
  width: 50%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
}

.form-control:hover {
  border-color: #66afe9;
  outline: 0;
}

.btn{
  display: inline-block;
  padding: 6px 12px;
  margin-top: 20px;
  margin-bottom: 0;

  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;

  white-space: nowrap;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;

  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn:focus {
  color: #FFF;
  background-color: #0099FF;
  border-color: #8c8c8c;
}
.btn:hover {
  color: #FFF;
  background-color: #0099FF;
  border-color: #adadad;
}
